--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple

torch
torchaudio
soundfile
matplotlib
notebook
jupyterlab
# downgrade the numpy for onnxruntime-tidl compatibility
numpy==1.26.4
